@font-face {
    font-family: "monsterrat";
    src:
    url("/fonts/Montserrat-Bold.ttf") format('truetype');
    font-style: normal;
}

.chip-container{
    display: flex;
    gap:10px;
}
@media (max-width: 992px){
    .chip-container{
        flex-wrap: wrap;
    }
}
.chip{
    backdrop-filter: blur(10px) brightness(0.5);
    background-color: transparent;
    border-radius: 35px;
    border: 2px solid white;
    width: 30%;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* unvisited link */
a:link {
    color:#b951dc;
    text-decoration: none;

}

/* visited link */
a:visited {
    color:#b951dc;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #d26bf6;
}

body {
    font-family: "monsterrat";
    color: white;
    background-color: rgb(42, 35, 49);
}